@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        a {
            color: black;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>


<h1>Sobre Nós</h1>

<br>
<br>
<br>

<h3>José Lucas</h3>
<ul>
    <li>Desenvolvedor Full-Stack .NET</li>
    <li>Contato: joselucas1298@gmail.com</li>
   <a title="Linkedin" target="_blank" href="https://www.linkedin.com/in/jose-lucas-resende/"><li >Linkedin</li></a> 
</ul>

<br>
<br>
<br>